<div class="container" ng-controller="AuthController" ng-init="activateAccount();">
            <div class="row">
                <div class="innertopB">
                    <div class="col-md-12">
                        <div class="Rpanel">
                            <h2>Account activation</h2>
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="news_right">
                                        <h2>{{message}}</h2>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>