<div>    
    <div class="container">
            <div class="row">
                <div class="innertopB">
                    <my-sidebar></my-sidebar>
                    <form name="frmAddGroup"  method="post" novalidate="novalidate" >
                    <div class="col-md-8">
                      <div class="panel with-nav-tabs panel-default">
                          <div class="panel-heading">
                                  <ul class="nav nav-tabs">
                                      <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="tab=1">Default 1</a></li>
                                      <li><a href="javascript:void(0)" data-toggle="tab" ng-click="tab=2">Default 2</a></li>
                                     
                                  </ul>
                          </div>
                          <div class="panel-body">
                              <div class="tab-content">
                                  <div class="tab-pane fade in active" ng-show="tab==1">Default 1</div>
                                  <div class="tab-pane fade in active" ng-show="tab==2">Default 2</div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  </form>
                </div>
            </div>
        </div>
</div>