<div ng-init='getChangePassword()'>
<div class="container">
    <div class="row">
        <div class="innertopB">
            <my-sidebar></my-sidebar>
            <div class="col-md-8 Clear-991" ng-controller="AuthController">
                <div class="Rpanel">
                    <h3><span>Change Password</span></h3>
                    <form name="frmChangePassword" ng-submit="doPassword(frmChangePassword.$valid)" method="post" novalidate="novalidate" >
                    <input type="hidden" name="auth_id" ng-model="auth_id" />
                    <div style="margin:0 auto!important;" ng-show="status_code">{{message}}</div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox" ng-class="{
                            'has-error':!frmChangePassword.old_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted), 
                            'has-success': frmChangePassword.old_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted)
                            }">
                                <label>Old Password</label>
                                <input type="password" id="old_password" name="old_password" ng-model="old_password" class="editF" required="required">
                                <span class="help-block" ng-show="frmChangePassword.old_password.$error.required && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Please Enter Old Password</span>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox" ng-class="{
                            'has-error':!frmChangePassword.new_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted), 
                            'has-success': frmChangePassword.new_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted)
                            }">
                                <label>New Password</label>
                                <input type="password" id="new_password" name="new_password" ng-model="new_password" class="editF" required="required">
                                <span class="help-block" ng-show="frmChangePassword.new_password.$error.required && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Please Enter New Password</span>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox" ng-class="{
                            'has-error':!frmChangePassword.confirm_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted), 
                            'has-success': frmChangePassword.confirm_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted)
                            }">
                                <label>Confirm Password</label>
                                <input type="password" id="confirm_password" name="confirm_password" ng-model="confirm_password" class="editF" required="required" ng-match="new_password" />
                                <span class="help-block" ng-show="frmChangePassword.confirm_password.$error.required && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Please Enter Confirm Password</span>

                                <span class="help-block" ng-show="frmChangePassword.confirm_password.$error.match && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Passwords do not match</span>

                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox">
                                <button class="button" type="submit">SAVE</button>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>