<div>
<div class="container">
    <div class="row">
        <div class="innertopB">
            <div class="col-md-4">
                <div class="leftP">
                    <div class="Leftimgbox">
                        <form name="frmAvator" ng-submit="doUpload()" method="post" novalidate="novalidate" enctype="multipart/form-data">
                        <input type="hidden" name="doctor_id" ng-model="doctor_id" />
                        <div class="imgLbox">
                            <span class="btn-file">
                                <input type="file" name="avators" ng-model="avators" onchange="angular.element(this).scope().uploadedFile(this)" accept="image/*"/>
                            </span>
                        

                        <img  alt="" ng-src="{{image_source}}" class="img-responsive"/>
                        
                        </div>
                        </form>
                        <h3>Dr. {{user.first_name}}&nbsp;{{user.last_name}}</h3>
                        <!--<h4>National President</h4>-->
                        <h5 class="user_address"><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata,&nbsp;West Bengal, &nbsp;India</h5>
                    </div>

                    <button type="button" class="LeftBtn" ng-click="loadProfile()"><i class="fa fa-user" aria-hidden="true"></i> Edit profile</button>
                    <button type="button" class="LeftBtnActive" ng-click="loadChangePassword()"><i class="fa fa-user" aria-hidden="true"></i> Change Password</button>
                    <button type="button" class="LeftBtn" ng-click="loadJournal()"><i class="fa fa-user" aria-hidden="true"></i> Upload Journal</button>
                    <button type="button" class="LeftBtn" ng-click="loadJournalList()"><i class="fa fa-user" aria-hidden="true"></i> Upload List</button>
                    <button type="button" class="LeftBtn" ng-click="uploadcertificate()"><i class="fa fa-user" aria-hidden="true"></i> Payment & Certificate</button>
                </div>
            </div>
            <div class="col-md-8 Clear-991" ng-controller="AuthController">
                <div class="Rpanel">
                    <h3><span>Change Password</span></h3>
                    <form name="frmChangePassword" ng-submit="doPassword(frmChangePassword.$valid)" method="post" novalidate="novalidate" >
                    <input type="hidden" name="auth_id" ng-model="auth_id" />
                    <div style="margin:0 auto!important;" ng-show="status_code">{{message}}</div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox" ng-class="{
                            'has-error':!frmChangePassword.old_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted), 
                            'has-success': frmChangePassword.old_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted)
                            }">
                                <label>Old Password</label>
                                <input type="password" id="old_password" name="old_password" ng-model="old_password" class="editF" required="required">
                                <span class="help-block" ng-show="frmChangePassword.old_password.$error.required && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Please Enter Old Password</span>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox" ng-class="{
                            'has-error':!frmChangePassword.new_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted), 
                            'has-success': frmChangePassword.new_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted)
                            }">
                                <label>New Password</label>
                                <input type="password" id="new_password" name="new_password" ng-model="new_password" class="editF" required="required">
                                <span class="help-block" ng-show="frmChangePassword.new_password.$error.required && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Please Enter New Password</span>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox" ng-class="{
                            'has-error':!frmChangePassword.confirm_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted), 
                            'has-success': frmChangePassword.confirm_password.$valid && (!frmChangePassword.$pristine || frmChangePassword.$submitted)
                            }">
                                <label>Confirm Password</label>
                                <input type="password" id="confirm_password" name="confirm_password" ng-model="confirm_password" class="editF" required="required" ng-match="new_password" />
                                <span class="help-block" ng-show="frmChangePassword.confirm_password.$error.required && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Please Enter Confirm Password</span>

                                <span class="help-block" ng-show="frmChangePassword.confirm_password.$error.match && (!frmChangePassword.$pristine || frmChangePassword.$submitted)">Passwords do not match</span>

                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fieldbox">
                                <button class="button" type="submit">SAVE</button>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>