<div class="container" ng-init="getCMS();">
            <div class="row">
                <div class="innertopB">
                    <div class="col-md-12">
                        <div class="Rpanel">
                            <h2>{{cms_details[0].title}}</h2>
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="news_right">
                                        <h2>{{cms_details[0].short_description}}</h2>
                                        
                                        <p> {{cms_details[0].full_description|htmlToPlaintext}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>