<div class="container" ng-init="getContactusPage();">
    <div class="row">
        <div class="innertopB">
            <div class="col-md-12">
                <div class="Rpanel">
                    <h2>Contact Us</h2>
                    <div class="row">                                
                        <div class="col-md-12">
                            <div class="news_right">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="wow fadeInDown" data-wow-delay="0.1s">
                                            <div class="widget">
                                                <h5>IMA center</h5>
                                                <p>
                                                  
                                                   {{contact_data[0].address}}
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                                            </span> Monday - Saturday, 8am to 10pm
                                                    </li>
                                                    <li>
                                                        <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                                            </span>{{contact_data[0].phone}}
                                                    </li>
                                                    <li>
                                             <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                             </span> {{contact_data[0].email}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        
                                    <div address-based-google-map address="contact_address" zoom="16" >
                                    </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="contactR">
                                            <h3><span>Get in touch with us</span></h3>
                                      <form name="frmContact" id="frmContact"  method="post" ng-submit="doContact(frmContact.$valid)" ng-app="AuthCtrl" ng-controller="AuthController" novalidate="novalidate">
                                            <div style="margin:0 auto!important;" ng-show="code">{{message}}</div>
                                            <div class="row">

                                            
                                              
                                                <div class="col-md-6">
                                                        <label>First Name</label>
                                                   <div class="infbox" ng-class="{
                                                    'has-error':!frmContact.firstname.$valid && (!frmContact.$pristine || frmContact.$submitted), 
                                                    'has-success': frmContact.firstname.$valid && (!frmContact.$pristine || frmContact.$submitted)
                                                    }">

                                                      <input name="firstname" id="firstname" type="text" ng-model="registration.firstname" required="required" placeholder="Enter First Name"/>
                                                       <span class="help-block" ng-show="frmContact.firstname.$error.required && (!frmContact.$pristine || frmContact.$submitted)">Please Enter First Name</span>
                                                    </div>
                                               </div>
                                                <div class="col-md-6">
                                                    <label>Last Name</label>
                                                    <div class="infbox" ng-class="{
                                            'has-error':!frmContact.lastname.$valid && (!frmContact.$pristine || frmContact.$submitted), 
                                            'has-success': frmContact.lastname.$valid && (!frmContact.$pristine || frmContact.$submitted)
                                            }">
                                                    <input name="lastname" id="lastname" type="text" ng-model="registration.lastname" required="required" placeholder="Enter Last Name"/>
                                                    <span class="help-block" ng-show="frmContact.lastname.$error.required && (!frmContact.$pristine || frmContact.$submitted)">Please Enter Last Name</span>
                                                 </div>   
                                              </div>

                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                    <div class="infbox" ng-class="{
                                            'has-error':!frmContact.email_id.$valid && (!frmContact.$pristine || frmContact.$submitted), 
                                            'has-success': frmContact.email_id.$valid && (!frmContact.$pristine || frmContact.$submitted)
                                            }">

                                                    <input name="email_id" id="email_id" type="text" ng-model="registration.email_id" required="required" placeholder="Enter Email Id"/>
                                                     <span class="help-block" ng-show="frmContact.email_id.$error.required && (!frmContact.$pristine || frmContact.$submitted)">Please Enter Email ID</span>
                                    <span class="help-block" ng-show="frmContact.email_id.$error.email && (!frmContact.$pristine || frmContact.$submitted)">Please Enter Valid Email ID</span>
                                                     </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label>Phone</label>
                                                     <div class="infbox" ng-class="{
                                            'has-error':!frmContact.phone.$valid && (!frmContact.$pristine || frmContact.$submitted), 
                                            'has-success': frmContact.phone.$valid && (!frmContact.$pristine || frmContact.$submitted)
                                            }">
                                                    <input name="phone" id="phone" type="text" ng-model="registration.phone" required="required"   maxlength="10" placeholder="Enter Mobile No" ng-maxlength="10" ng-minlength="10" onkeypress="if(event.keyCode>=48 && event.keyCode>=58) { return false ;}"/>

                                                    <span class="help-block" ng-show="frmContact.phone.$error.required && (!frmContact.$pristine || frmContact.$submitted)">Please Enter Phone No</span>
                                    <span class="help-block" ng-show="frmContact.phone.$error.maxlength  && (!frmContact.$pristine || frmContact.$submitted)">Phone No Must Have 10 Digits</span>
                                    <span class="help-block" ng-show="frmContact.phone.$error.minlength  && (!frmContact.$pristine || frmContact.$submitted)">Phone No Must Have 10 Digits</span>
                                    <span class="help-block" ng-show="frmContact.phone.$error.number  && (!frmContact.$pristine || frmContact.$submitted)">Mobile No Must Be Numeric</span>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Comments</label>
                                                  <div class="infbox" ng-class="{
                                            'has-error':!frmContact.phone.$valid && (!frmContact.$pristine || frmContact.$submitted), 
                                            'has-success': frmContact.phone.$valid && (!frmContact.$pristine || frmContact.$submitted)
                                            }">
                                                    <textarea rows="5" cols="" name="comment" id="comment" ng-model="registration.comment" required="required"></textarea>
                                                    <span class="help-block" ng-show="frmContact.comment.$error.required && (!frmContact.$pristine || frmContact.$submitted)">Please Write Comment</span>
                                                  </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <button type="submit">SUBMIT</button>
                                                    
                                                </div>

                                            </div>
                                           </form>
                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    </div>
 
