<div class="container"  ng-init='getAllDoctors(1);'>
            <div class="row">
                <div class="innertopB">
                    <my-sidebar></my-sidebar>
                    <div class="col-md-8 Clear-991">
                        <div class="Rpanel">
                            <h2 ng-controller="AuthController">Doctors<input type="text" ng-model="term" placeholder="Search Doctor Details" name="term" id="term" autocomplete="true"  class="btn_right">
                            

                            </h2>
                            <div>{{message}}</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-bordered">
                                          <tr class="tabletop">
                                            <td>Name</td>
                                            <td>Email</td>
                                            <td>Mobile</td>
                                            <td>License Number</td>
                                            <td>Action</td>
                                          </tr>
                                          
                                          <tr ng-repeat="j in doctor_list track by $index">
                                            <td>{{j.first_name}} {{j.last_name}}</td>
                                            <td>{{j.email}}</td>
                                            <td>{{j.mobile}}</td>
                                            <td>{{j.license}}</td>
                                          </tr>
                                        </table>
                                    </div>
                                </div>
                                <br clear="All">
                                <doctors-pagination></doctors-pagination>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>