<div ng-init="groupDetails();">    
    <div class="container">
            <div class="row">
                <div class="innertopB">
                    <my-sidebar></my-sidebar>
                    <div class="col-md-8 Clear-991" ng-controller="AuthController">
                        <div class="Rpanel">
                            <h2>Edit Group</h2>
                            <form name="frmEditGroup" ng-submit="doEditGroup(frmEditGroup.$valid)" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <div>{{message}}</div>
                            <div style="margin:0 auto!important;" ng-show="status_code">{{message}}</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmEditGroup.name.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted), 
                                            'has-success': frmEditGroup.name.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted)
                                            }">
                                        <label>Name</label>
                                        <input type="text" name="name" id="name" ng-model="name" class="editF" required="required" placeholder="Enter group name">
                                        <span class="help-block" ng-show="frmEditGroup.name.$error.required && (!frmEditGroup.$pristine || frmEditGroup.$submitted)">Please Enter Group Name</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmEditGroup.description.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted), 
                                            'has-success': frmEditGroup.description.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted)
                                            }">
                                        <label>Description</label>
                                        <textarea name="description" ng-model="description" cols="" rows="5" class="editF" required="required" placeholder="Enter group description"></textarea>
                                        <span class="help-block" ng-show="frmEditGroup.description.$error.required && (!frmEditGroup.$pristine || frmEditGroup.$submitted)">Please Enter Description</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmEditGroup.no_of_people.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted), 
                                            'has-success': frmEditGroup.no_of_people.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted)
                                            }">
                                        <label>No of people</label>
                                        <input type="text" name="no_of_people" class="editF" ng-model="no_of_people" placeholder="Enter no fo people in this group" required="required">

                                        <span class="help-block" ng-show="frmEditGroup.no_of_people.$error.required && (!frmEditGroup.$pristine || frmEditGroup.$submitted)">Please enter no fo people in this group</span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="fieldbox"  ng-class="{
                                            'has-error':!frmEditGroup.status.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted), 
                                            'has-success': frmEditGroup.status.$valid && (!frmEditGroup.$pristine || frmEditGroup.$submitted)
                                            }">
                                        <label>Status</label>
                                        <select name="status" ng-model="status" class="fieldboxSel" required="required">
                                            <option value="1">Active</option>
                                            <option value="0">Deactive</option>
                                        </select>
                                        <span class="help-block" ng-show="frmEditGroup.status.$error.required && (!frmEditGroup.$pristine || frmEditGroup.$submitted)">Please Select Status</span>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="fieldbox">
                                        <button class="button1" type="submit">SAVE</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>