<div class="container"  ng-init='groupList(1);'>
            <div class="row">
                <div class="innertopB">
                    <my-sidebar></my-sidebar>
                    <div class="col-md-8 Clear-991">
                        <div class="Rpanel">
                            <h2 ng-controller="AuthController">Groups

                             <button type="button" class="btnsearch" ng-click="getGroupData(1);"><i class="fa fa-search" aria-hidden="true"></i></button>
                            
                            <input type="text" ng-model="grp" placeholder="Search Group Details" name="grp" id="grp" group-autocomplete="true"  class="btn_right">

                             


                            <button type="button" class="btn_right" ng-click="loadAddNewGroup()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button></h2>
                            <div>{{message}}</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-bordered">
                                          <tr class="tabletop">
                                            <td>Name</td>
                                            <td>Description</td>
                                            <td>No of people</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                          </tr>
                                          
                                          <tr ng-repeat="j in group_list track by $index">
                                            <td>{{j.name}}</td>
                                            <td>{{j.description}}</td>
                                            <td>{{j.no_of_people}}</td>
                                            <td>{{j.status == '1'? 'Active':'Inactive'}}</td>
                                            
                                            <td>
                                            <a class="ed" href="/groups/edit/{{j.id}}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> | <a class="ed" href="javascript:void(0)" ng-click="removeGroup(j.id)" ><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                          </tr>

                                          <tr ng-if="!(group_list).length">
                                            <td colspan="5">NO DATA FOUND</td>
                                          </tr>

                                        </table>
                                    </div>
                                </div>
                                 <br clear="All">
                                <groups-pagination ng-show="(group_list).length"></groups-pagination>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>