<div class="container"  ng-init='getJournalList();'>
            <div class="row">
                <div class="innertopB">
                    <div class="col-md-4">
                        <div class="leftP">
                            <div class="Leftimgbox">
                                <form name="frmAvator" ng-submit="doUpload()" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                <input type="hidden" name="doctor_id" ng-model="doctor_id" />
                                <div class="imgLbox">
                                    <span class="btn-file">
                                        <input type="file" name="avators" ng-model="avators" onchange="angular.element(this).scope().uploadedFile(this)" accept="image/*"/>
                                    </span>
                                

                                <img  alt="" ng-src="{{image_source}}" class="img-responsive"/>
                                
                                </div>
                                </form>
                                <h3>Dr. {{user.first_name}}&nbsp;{{user.last_name}}</h3>
                                <!--<h4>National President</h4>-->
                                <h5 class="user_address"><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata,&nbsp;West Bengal, &nbsp;India</h5>
                            </div>
                            <button type="button" class="LeftBtn" ng-click="loadProfile()"><i class="fa fa-user" aria-hidden="true"></i> Edit profile</button>
                            <button type="button" class="LeftBtn" ng-click="loadChangePassword()"><i class="fa fa-user" aria-hidden="true"></i> Change Password</button>
                            <button type="button" class="LeftBtn" ng-click="loadJournal()"><i class="fa fa-user" aria-hidden="true"></i> Upload Journal</button>
                            <button type="button" class="LeftBtnActive" ng-click="loadJournalList()"><i class="fa fa-user" aria-hidden="true"></i> Upload List</button>
                        </div>
                    </div>
                    <div class="col-md-8 Clear-991">
                        <div class="Rpanel">
                            <h2>Journals</h2>
                            <div>{{message}}</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-bordered">
                                          <tr class="tabletop">
                                            <td>Title</td>
                                            <td>Published Date</td>
                                            <td>Category Name</td>
                                            <td>File</td>
                                            <td>Action</td>
                                          </tr>
                                          
                                          <tr ng-repeat="j in journal_list.journal track by $index">
                                            <td>{{j.title}}</td>
                                            <td>{{j.published_date|date:'dd/MM/yyyy'}}</td>
                                            <td>{{j.categories.name}}</td>
                                            <td><a href="/uploads/doctors/journal/{{j.journal_file}}" target="_blank">{{j.journal_file}}</a></td>
                                            <td><a href="/journal/{{j.id}}">Edit</a> | <a href="#" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="removeJournal({{j.id}},{{$index}})">Delete</a></td>
                                          </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>