   <div class="container" ng-init="getlocalBranchPage();">
            <div class="row">
                <div class="innertopB">
                    <div class="col-md-9">
                        <div class="Rpanel">
                            <h2>Local Branches</h2>
                            <h4>Presidents & Secretaries of IMA local branches, Delhi (2017-18)</h4>
                            <div class="row">                                
                                <div class="col-md-12">
                                    <div class="news_right">
                                        <div class="row">

                                            <div class="col-md-4" ng-repeat="n in branch_data track by $index">
                                                <div class="bulletin">
                                                    <div class="top1">
                                                        {{n.branch_head}}
                                                    </div>
                                                    <h6>{{n.designations.name}}</h6>
                                                    {{n.branch_address}}
                                                    {{n.mobile_no}}
                                                    {{n.email_id}}
                                                </div>
                                            </div>

                                            <!--<div class="col-md-4">
                                                <div class="bulletin">
                                                    <div class="top1">
                                                        Dr. Vinod Goel
                                                    </div>
                                                    <h6>PRESIDENT</h6>
                                                    IMA Cental branch
                                                    C-134 K, Surya Nagar
                                                    Ghaziabad-201011.
                                                    (M) 9136526757, 9868525757
                                                    drvinodgoyal@gmail.com
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="bulletin">
                                                    <div class="top1">
                                                        Dr. Vinod Goel
                                                    </div>
                                                    <h6>PRESIDENT</h6>
                                                    IMA Cental branch
                                                    C-134 K, Surya Nagar
                                                    Ghaziabad-201011.
                                                    (M) 9136526757, 9868525757
                                                    drvinodgoyal@gmail.com
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="bulletin">
                                                    <div class="top1">
                                                        Dr. Vinod Goel
                                                    </div>
                                                    <h6>PRESIDENT</h6>
                                                    IMA Cental branch
                                                    C-134 K, Surya Nagar
                                                    Ghaziabad-201011.
                                                    (M) 9136526757, 9868525757
                                                    drvinodgoyal@gmail.com
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="bulletin">
                                                    <div class="top1">
                                                        Dr. Vinod Goel
                                                    </div>
                                                    <h6>PRESIDENT</h6>
                                                    IMA Cental branch
                                                    C-134 K, Surya Nagar
                                                    Ghaziabad-201011.
                                                    (M) 9136526757, 9868525757
                                                    drvinodgoyal@gmail.com
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="bulletin">
                                                    <div class="top1">
                                                        Dr. Vinod Goel
                                                    </div>
                                                    <h6>PRESIDENT</h6>
                                                    IMA Cental branch
                                                    C-134 K, Surya Nagar
                                                    Ghaziabad-201011.
                                                    (M) 9136526757, 9868525757
                                                    drvinodgoyal@gmail.com
                                                </div>
                                            </div>-->


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="rightbar">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">Constitution of DMA</a></li>
                                <li><a href="#">Local Branches</a></li>
                                <li><a href="#">New Membership Procedure</a></li>
                                <li><a href="#">Why to become a member</a></li>
                                <li><a href="#">Roll of Honour</a></li>
                                <li><a href="#">Discussion Forum</a></li>
                            </ul>
                            <h6>Banner Advertisements</h6>
                            <div class="addvertise">
                                Banner image put here
                            </div>
                            <h6>Banner Advertisements</h6>
                            <h6>DMA E-Bulletin</h6>

                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/storage/frontend/img/bulletin.jpg" alt="" />
                                </div>
                                <div class="col-md-7">
                                    25th MAY
                                    <a href="#" class="download1">Download</a>
                                </div>
                            </div>

                            <a href="#" class="download1" style="width: 100%; text-align: center;">View all E-Bulletin</a>

                            <a href="#" class="download1" style="width: 100%; text-align: center;">Download</a>

                        </div>
                    </div>
                </div>
            </div>
            </div>
           
            
        
       

