<div ng-init='getcertificate();getPaymentDetails();'>
    <div class="container">
        <div class="row">
            <div class="innertopB">
                <my-sidebar></my-sidebar>
                <div class="col-md-8 Clear-991" ng-controller="AuthController">
                    <div class="Rpanel">
                        <h2>Payment & Certificate</h2>
                        <form name="frmUploadcertificate" ng-submit="doUploadcertificate(frmUploadcertificate.$valid)" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <input type="hidden" name="auth_id" ng-model="auth_id" />
                            <div style="margin:0 auto!important;" ng-show="status_code">{{message}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.payment.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.payment.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Payment</label>
                                        <input type="text" name="payment" id="payment" ng-model="payment" class="editF" required="required">
                                        <span class="help-block" ng-show="frmUploadcertificate.payment.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Enter The Payment</span>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                <div style=" width: 100%; display:  inline-block;">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.payment.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.payment.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Payment Type</label>
                                          <select ng-model="payment_type" class="editF" onchange="get_block()" id="payment_type" name="payment_type">
                                            <option value="">Select</option>
                                             <option value="cash">Cash</option>
                                             <option value="cheque">Cheque</option>
                                             <option value="draft">Draft</option>
                                              
                                          </select>
                                        <span class="help-block" ng-show="frmUploadcertificate.payment.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Enter The Payment</span>
                                    </div>
                                </div>
                                

                                <div id="show_payment" style=" width: 100%; display: none;">

                                <div style=" width: 100%; display:  inline-block;">

                                    <div class="form-group">
                                      <label>Bank Name</label>
                                      <input type="text" id="bank_name" ng-model="bank_name" name="bank_name" class="form-control editF" required="Enter Bank Name" placeholder="Enter Bank Name">
                                    </div>
                                
                                        
                                </div>
                                <div style=" width: 100%; display:  inline-block;">
                                

                                        <div class="form-group">
                                          <label>Branch Name</label>
                                          <input type="text" class="form-control editF" id="branch_name" ng-model="branch_name" name="branch_name"  placeholder="Enter Branch Name">
                                          
                                        </div>
                                </div>
                                <div style=" width: 100%; display:  inline-block;">
                            

                                    <div class="form-group">
                                      <label>DD/Cheque No.</label>
                                      <input type="text" class="form-control editF" id="cheque_no" ng-model="cheque_no" name="cheque_no" placeholder="Enter DD/Cheque No.">
                                     
                                    </div> 
                                </div>

                                </div>
                            
                                </div>
                                <div class="col-md-6">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.payment_date.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.payment_date.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Payment Date</label>
                                        <input type="text" name="payment_date" class="editF" ng-model="payment_date" placeholder="DD/MM/YYYY" jqdatepicker required="required">
                                         <span class="help-block" ng-show="frmUploadcertificate.payment_date.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Enter The payment date</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.qualification_id.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.qualification_id.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Select Qualification</label>
                                        <select name="qualification_id[]" ng-model="qualification_id" class="fieldboxSelM" required="required" multiple="true">
                                            <option value="">Select</option>
                                            <option ng-repeat="(key, value) in qualification_list" value="{{key}}">{{value}}</option>
                                        </select>
                                        <span class="help-block" ng-show="frmUploadcertificate.qualification_id.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Select Qualification</span>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="fieldbox">
                                        <label>Certificate Upload</label>
                                        <span>
                                            <input type="file" ng-model="doctor_file" name="doctor_file" id="doctor_file" onchange="angular.element(this).scope().getFileDetails(this)" class="editF1" multiple="multiple" accept="image/*,application/pdf">
                                        </span>
                                         
                                          <div class="attachments" ng-repeat="x in certificates_arr">
                                           <a data-toggle="tooltip" data-placement="top" title="{{x}}" href="/uploads/doctors/qualification/{{x}}" target="_blank">
                                           <i class="fa fa-paperclip" aria-hidden="true"></i>
                                            <!-- {{x}} -->
                                            </a>
                                          </div>
                                          
                                         
                                    </div>
                                </div>
                                <!--<p><progress id="pro" value="0"></progress></p>-->
                                <br clear="all">
                                <div class="col-md-6">
                                    <div class="fieldbox">
                                        <button class="button1" type="submit">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

<style type="text/css">
    label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
</style>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});


</script>

<script type="text/javascript">
    
function get_block()
{
    
    var data=document.getElementById('payment_type').value;
     if(data=='draft' || data=='cheque')
     {
        document.getElementById('show_payment').style.display='inline-block';
     }
     else if(data=='cash')
     {
        document.getElementById('show_payment').style.display='none';
     }
}
</script>
