<div ng-init='getcertificate();'>
    <div class="container">
        <div class="row">
            <div class="innertopB">
                <div class="col-md-4">
                    <div class="leftP">
                        <div class="Leftimgbox">
                            <form name="frmAvator" ng-submit="doUpload()" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                <input type="hidden" name="doctor_id" ng-model="doctor_id" />
                                <div class="imgLbox">
                                    <span class="btn-file">
                                        <input type="file" name="avators" ng-model="avators" onchange="angular.element(this).scope().uploadedFile(this)" accept="image/*"/>
                                    </span>
                                    <img alt="" ng-src="{{image_source}}" class="img-responsive" />
                                </div>
                            </form>
                            <h3>Dr. {{user.first_name}}&nbsp;{{user.last_name}}</h3>
                            <!--<h4>National President</h4>-->
                            <h5 class="user_address"><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata,&nbsp;West Bengal, &nbsp;India</h5>
                        </div>
                        <button type="button" class="LeftBtn" ng-click="loadProfile()"><i class="fa fa-user" aria-hidden="true"></i> Edit profile</button>
                        <button type="button" class="LeftBtn" ng-click="loadChangePassword()"><i class="fa fa-user" aria-hidden="true"></i> Change Password</button>
                        <button type="button" class="LeftBtnActive" ng-click="loadJournal()"><i class="fa fa-user" aria-hidden="true"></i> Upload Journal</button>
                        <button type="button" class="LeftBtn" ng-click="loadJournalList()"><i class="fa fa-user" aria-hidden="true"></i> Upload List</button>
                        <button type="button" class="LeftBtn" ng-click="uploadcertificate()"><i class="fa fa-user" aria-hidden="true"></i> Payment & Certificate</button>
                    </div>
                </div>
                <div class="col-md-8 Clear-991" ng-controller="AuthController">
                    <div class="Rpanel">
                        <h2>Payment & Certificate</h2>
                        <form name="frmUploadcertificate" ng-submit="doUploadcertificate(frmUploadcertificate.$valid)" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <input type="hidden" name="auth_id" ng-model="auth_id" />
                            <div style="margin:0 auto!important;" ng-show="status_code">{{message}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.payment.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.payment.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Payment</label>
                                        <input type="text" name="payment" id="payment" ng-model="payment" class="editF" required="required">
                                        <span class="help-block" ng-show="frmUploadcertificate.payment.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Enter The Payment</span>
                                    </div>
                                </div>
                            
                            
                                <div class="col-md-6">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.payment_date.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.payment_date.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Payment Date</label>
                                        <input type="text" name="payment_date" class="editF" ng-model="payment_date" placeholder="DD/MM/YYYY" jqdatepicker required="required">
                                         <span class="help-block" ng-show="frmUploadcertificate.payment_date.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Enter The payment date</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadcertificate.qualification_id.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted), 
                                            'has-success': frmUploadcertificate.qualification_id.$valid && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)
                                            }">
                                        <label>Select Qualification</label>
                                        <select name="qualification_id[]" ng-model="qualification_id[qualification]" class="fieldboxSelM" required="required" multiple="true">
                                            <option value="">Select</option>
                                            <option ng-repeat="(key, value) in qualification_list" value="{{key}}">{{value}}</option>
                                        </select>
                                        <span class="help-block" ng-show="frmUploadcertificate.qualification_id.$error.required && (!frmUploadcertificate.$pristine || frmUploadcertificate.$submitted)">Please Select Qualification</span>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="fieldbox">
                                        <label>Certificate Upload</label>
                                        <span>
                                            <input type="file" ng-model="doctor_file" name="doctor_file" id="doctor_file"onchange="angular.element(this).scope().getFileDetails(this)" class="editF1" multiple="multiple" accept="image/*,application/pdf">
                                        </span>
                                    </div>
                                </div>
                                <!--<p><progress id="pro" value="0"></progress></p>-->
                                <br clear="all">
                                <div class="col-md-6">
                                    <div class="fieldbox">
                                        <button class="button1" type="submit">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
