<div class="col-md-4">
    <div class="leftP">
        <div class="Leftimgbox">
            <form name="frmAvator" ng-submit="doUpload()" method="post" novalidate="novalidate" enctype="multipart/form-data">
            
            <div class="imgLbox">
                <span class="btn-file">
                    <input type="file" name="avators" ng-model="avators" onchange="angular.element(this).scope().uploadedFile(this)" accept="image/*"/>
                </span>
            

            <img  alt="" ng-src="{{image_source}}" class="img-responsive"/>
            
            </div>
            </form>
            <h3>Dr. {{user.first_name}}&nbsp;{{user.last_name}}</h3>
            <!--<h4>National President</h4>-->
            <h5 class="user_address"><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata,&nbsp;West Bengal, &nbsp;India</h5>
        </div>
        

        <button type="button" class="LeftBtn" ng-click="loadProfile()" ng-class="edit_prfl"><i class="fa fa-user" aria-hidden="true"></i> Edit profile</button>
        <button type="button" class="LeftBtn" ng-click="loadChangePassword()" ng-class="change_pwd"><i class="fa fa-user" aria-hidden="true"></i> Change Password</button>

        <button type="button" class="LeftBtn" ng-click="loadJournal()" ng-class="upload_jnal"><i class="fa fa-user" aria-hidden="true"></i> Upload Journal</button>

        <button type="button" class="LeftBtn" ng-click="loadJournalList()" ng-class="upload_lst"><i class="fa fa-user" aria-hidden="true"></i> Upload List</button>
        
        <!--<button type="button" class="LeftBtn"><i class="fa fa-user" aria-hidden="true" ng-class="{ active: isActive('/journal-list')}"></i> Upload List</button>-->

        <button type="button" class="LeftBtn" ng-click="uploadcertificate()" ng-class="Payment_crtf"><i class="fa fa-user" aria-hidden="true"></i> Payment & Certificate</button>

        <button type="button" class="LeftBtn" ng-click="loadGroup()" ng-class="grp"><i class="fa fa-user" aria-hidden="true"></i> Groups</button>
        
        <button type="button" class="LeftBtn" ng-click="loadDoctors()" ng-class="doctr"><i class="fa fa-user" aria-hidden="true"></i> Doctors</button>

        <!--<button type="button"  class="LeftBtn" ><i class="fa fa-user" aria-hidden="true" ng-click="loadDoctors()"></i> Doctors</button>-->
    </div>
</div>