<div ng-init='getCategory();'>    
    <div class="container">
            <div class="row">
                <div class="innertopB">
                    <my-sidebar></my-sidebar>
                    <div class="col-md-8 Clear-991" ng-controller="AuthController">
                        <div class="Rpanel">
                            <h2>Upload Journal</h2>
                            <form name="frmUploadJournal" ng-submit="doUploadJournal(frmUploadJournal.$valid)" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <input type="hidden" name="auth_id" ng-model="auth_id" />
                            <div style="margin:0 auto!important;" ng-show="status_code">{{message}}</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadJournal.title.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted), 
                                            'has-success': frmUploadJournal.title.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)
                                            }">
                                        <label>Title</label>
                                        <input type="text" name="title" id="title" ng-model="title" class="editF" required="required">
                                        <span class="help-block" ng-show="frmUploadJournal.title.$error.required && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)">Please Enter Journal Title</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadJournal.description.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted), 
                                            'has-success': frmUploadJournal.description.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)
                                            }">
                                        <label>Description</label>
                                        <textarea name="description" ng-model="description" cols="" rows="5" class="editF" required="required"></textarea>
                                        <span class="help-block" ng-show="frmUploadJournal.description.$error.required && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)">Please Enter Journal Description</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fieldbox" ng-class="{
                                            'has-error':!frmUploadJournal.published_date.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted), 
                                            'has-success': frmUploadJournal.published_date.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)
                                            }">
                                        <label>Published Date</label>
                                        <input type="text" name="published_date" class="editF" ng-model="published_date" placeholder="DD/MM/YYYY" jqdatepicker required="required">

                                        <span class="help-block" ng-show="frmUploadJournal.published_date.$error.required && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)">Please Enter Date Of Published</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="fieldbox"  ng-class="{
                                            'has-error':!frmUploadJournal.category_id.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted), 
                                            'has-success': frmUploadJournal.category_id.$valid && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)
                                            }">
                                        <label>Category</label>
                                        <select name="category_id" ng-model="category_id" class="fieldboxSel" required="required">
                                            <option value="">Select</option>
                                            <option ng-repeat="item in categories" value="{{item.value}}">{{item.label}}</option>
                                        </select>
                                        <span class="help-block" ng-show="frmUploadJournal.category_id.$error.required && (!frmUploadJournal.$pristine || frmUploadJournal.$submitted)">Please Select Journal Category</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fieldbox">
                                        <label>File Upload</label>
                                        <span>
                                            <input type="file" ng-model="journal_file" name="journal_file" onchange="angular.element(this).scope().uploadedJournalDoc(this)" class="editF1" accept="image/jpeg,image/png,application/pdf,image/x-eps">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="fieldbox">
                                        <button class="button1" type="submit">SAVE</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>